.debuggerWrapper ul{
    list-style-type: none;
    padding: 0;
}

.debuggerWrapper .app-clifJs > ul {
    margin: 0;
    padding: 0;
}

.debuggerWrapper ul li {
    cursor: pointer;
    padding: 2px 4px;
}

.debuggerWrapper li:hover {
    background-color: #555;
}

.debuggerWrapper .left-container {
    min-height: 250px;
    padding: 0;
    border-radius: 0;
    overflow-y: scroll;
    max-height: 65vh;
    width: 25%;
}

.debuggerWrapper .files_folders {
    padding: 0;
    overflow-y: auto;
    overflow-x: auto;
    color: #ddd;
    background: #444;
    width: 100%;
}

.coder .code pre code{
    font-family: monospace;
    height:95%;
    padding: 0;
    border-radius: 0;
    min-height: 65vh;
}

.debuggerWrapper .coder {
    float: left;
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow-y: scroll;
    max-height: 65vh;
    width: 75%;
}

.coder .code pre{
    border: 0;
    width: 100%;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

.grid-major {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
    height: 35vh;
    border-radius: 0;
    border: 0;
}

.grid-major .slick-viewport {
    height: auto !important;
}

.grid-major .slick-cell {
    background-color: #292A35;
    color: #fff;
}
code ul{counter-reset: line;}
code li{counter-increment: line;}
code li:before {
    content: counter(line);
    width: 24px;
    display: inline-block;
    padding-left: 2px;
    text-align: center;
    padding-right: 2px;
    margin-right: 5px;
}
code li.selected:before {
    background-color: #953b39;
    border-radius: 10px;
}

.navbar-fixed-bottom {
    left: auto !important;
}

.debuggerWrapper .lineNumbers > ul {
    margin: 0;
}

.icon.close:hover {
    color: #bbb;
}

.file-title {
    color: #953b39;
    font-weight: bold;
    text-align: center;
}
