<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../resources/icon.png">

    <title>Application</title>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="../js/lib/jquery-1.9.0.min.js"></script>
    <script src="../js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/lib/es5-shim.min.js"></script>
    <script src="../js/lib/handlebars.js"></script>
    <script src="../js/lib/less.js"></script>
    <script data-main="../js/package_loader.js" src="../js/lib/require.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript">
        //modify this variable if you don't plan to use the express server
        //var serverUsed = 'express';

        //Register the component handlebars helper
        //registerComponent();


    </script>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>


<div class="header" type="x-handlebars-template">
    {{component name="test" view="index"}}
</div>

</body>


</html>