<div class="leftPanelWrapper">
    <div class="logo">
        <div class="imageOfLogo">
        </div>
        <div class="textOfLogo">
            LuaMock
        </div>
    </div>
    <div class="searchWrapper">
        {{component name="form" view="input" type="text" value="Search...." size="40" parentId=parentId}}
    </div>
    <div class="separator">
        <span class="pull-left">Main Navigation</span>
    </div>
    <div class="main-menu-wrapper">
        <div class="category selected">
            <span class="icon project"></span>
            <span class="category-name">Projects</span>
            <div class="selector"></div>
            <div class="elements">
                <div class="element">
                    <span class="icon play"></span>
                    <span class="element-name">api-gateway-commons</span>
                </div>
                <div class="element">
                    <span class="icon play"></span>
                    <span class="element-name">api-gateway-request-validation</span>
                </div>
                <div class="element">
                    <span class="icon play"></span>
                    <span class="element-name">api-gateway-core</span>
                </div>
            </div>
        </div>
        <div class="category">
            <span class="icon analytics"></span>
            <span class="category-name">Analytics</span>
            <div class="selector"></div>
        </div>
        <div class="category">
            <span class="icon debugger"></span>
            <span class="category-name">Debugger</span>
            <div class="selector"></div>
        </div>
        <div class="category">
            <span class="icon docs"></span>
            <span class="category-name">Docs</span>
            <div class="selector"></div>
        </div>
    </div>
</div>