<div class="leftPanelWrapper">
    <div class="logo">
        <div class="imageOfLogo">
        </div>
        <div class="textOfLogo">
            LuaMock
        </div>
    </div>
    <div class="searchWrapper">
        {{component name="form" view="input" type="text" value="Search...." size="40" parentId=parentId}}
    </div>
    <div class="user-wrapper">
        <div class="icon-user">
            <img src="https://secure.gravatar.com/avatar/1c67b5ba42c1d98c6a564ccbe159f6d6?s=200&d=identicon&r=g"/>
        </div>
        <div class="data-user">
            Alexandru Trifan
        </div>
    </div>
    <div class="separator">
        <span class="pull-left">Main Navigation</span>
    </div>
</div>