<div class="tests-wrapper">
    <div class="kard-wrapper">
        {{component name="dashboard" view="card" icon="unit" label="Unit Tests" color="unit-tests" sid="ut" parentId=parentId}}
    </div>
    <div class="kard-wrapper">
        {{component name="dashboard" view="card" icon="integration" label="Integration Tests" color="integration-tests" sid="it" parentId=parentId}}
    </div>
    <div class="kard-wrapper">
        {{component name="dashboard" view="card" icon="performance" label="Performance Tests" color="performance-tests" sid="pt" parentId=parentId}}
    </div>
    <div class="kard-wrapper">
        {{component name="dashboard" view="card" icon="smoke" label="Smoke Tests" color="smoke-tests" sid="st" parentId=parentId}}
    </div>
</div>