<div class="top-panel-wrapper">
    <div class="right-side">
        <div class="user-wrapper">
            <div class="user-icon">
                <img src="https://secure.gravatar.com/avatar/1c67b5ba42c1d98c6a564ccbe159f6d6?s=200&d=identicon&r=g">
            </div>
            <div class="user-data">atrifan</div>
        </div>
        <div class="commands">
            <div class="command">
                <span class="icon notifications"></span>
            </div>
            <div class="command">
                <span class="icon home"></span>
            </div>
            <div class="command">
                <span class="icon keys"></span>
            </div>
        </div>
    </div>
</div>