<div class="debuggerWrapper">
    <div class="pull-left left-container round">
        <div class="files_folders hljs"></div>
    </div>
    <div class="round pull-left coder">
        <div class="code">
            <pre><code class="lua hljs lineNumbers">
            </code></pre>
        </div>
    </div>
</div>
<div class="debuggerWrapper">
    <div class="round pull-left card-wrapper grid-major">
        <div class="file-title">
            <div class="file-name"></div>
        </div>
        <div id="special-grid" class="grid">
            {{component name="form" view="grid" parentId=parentId sid="grider"}}
        </div>
    </div>
</div>

<div class="button-wrapper pull-right navbar-fixed-top" style="width: 100px;text-align: center; left: auto;">
    {{component name="form" view="button" type="secondary" label="Continue" sid="myButton" parentId=parentId }}
</div>